pandas
numpy
matplotlib
seaborn
scikit-learn
yfinance
tensorflow
statsmodels
joblib
tqdm
pandas-datareader
newspaper3k
textblob
vaderSentiment
nltk
fredapi
python-dotenv
requests
TA-Lib
finnhub-python
alpha_vantage
newsapi-python
plotly
dash